<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="/static/css/bootstrap.css" media="screen" title="no title" charset="utf-8">
</head>
<body>
  <footer class="jumbotron" style="background-color:#FFF;">
    <table class="table table-responsive">
      <tr>
        <td> <h3>El mejor cine
          CINEMAX <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
        </h3></td>
      </tr>
    </table>

  </footer>

</body>
</html>
