<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Header</title>
  <link rel="stylesheet" href="/static/css/bootstrap.css" media="screen" title="no title" charset="utf-8">
</head>
<body>

    <div align="center">
      <a href="/Cinemax/listarP" class="btn" align="center">
        <table class="table">
            <tr>
              <td>
                <img src="/static/images/imagenHeader.jpg" alt="Imagen de emcabezado" class="img-circle" width="100" height="100">
              </td>
              <td>  <h1 class="" style="color:#F7A8A8; font-size:50px; font-family:bold; ">Cinemax</h1></td>
            </tr>
        </table>
        </a>



    <ul class="nav nav-tabs" style="text-align:center;">
    <li role="presentation" >
      <a href="/Cinemax">
        <button type="button" class="btn btn-info" aria-label="Left Align">
          INICIO
        </button>
      </a>
    </li>
    <li role="presentation" >
      <a href="/Cinemax/listarP">
        <button type="button" class="btn btn-info">
          PELICULAS <span class="glyphicon glyphicon-th"></span>
        </button>
      </a>
    </li>
    <li role="presentation" >
      <a href="/Cinemax/verS">
        <button type="button" class="btn btn-info">
          SALAS <span class="glyphicon glyphicon-blackboard"></span>
        </button>
      </a>
    </li>
    <li role="presentation" >
      <a href="/Cinemax/verSe">
        <button type="button" class="btn btn-info">
          SESIONES <span class="glyphicon glyphicon-equalizer"></span>
        </button>
      </a>
    </li>
    <li role="presentation" >
      <a href="/Cinemax/verSaSe">
        <button type="button" class="btn btn-info">
          BOLETERIA<span class="glyphicon glyphicon-shopping-cart"></span>
        </button>
      </a>
    </li>

  </ul>

</div>
</body>
</html>
