<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Administración</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
</head>
<body>
  {% extends "master.html" %}
  {% block contenido %}
      <div>
      <table class="table-responsive">
        <tr>
          <td>
            <img src="/{{p.imagenPortada}}" alt="{{p.imagenPortada}}" width="129" height="193" class="img-rounded">
          </td>
          <td>
            <table>
              <tr>
                <td >Titulo:</td>
                <td>{{p.titulo}}</td>
              </tr>
              <tr>
                <td >Genero:</td>
                <td>{{p.genero}}</td>
              </tr>
              <tr>
                <td>Interpretes:</td>
                <td>{{p.interpretes}}</td>
              </tr>
              <tr>
                <td colspan="2">{{p.sinopsis}}</td>
              </tr>
            </table>
          </td>
        </tr>

      </table>
    </div>


  {% endblock %}

</body>
</html>
