<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sesiones</title>
      <link rel="stylesheet" href="/static/css/bootstrap.css">
</head>
<body>
  {% extends "master.html" %}
  {% block contenido %}
      <div class="form-group">
        <form action="" method="post" enctype="multipart/form-data">
           {% csrf_token %}
           <table class="table-responsive">
             <tr class="info">{{f}}</tr>
           </table>
           <input type="submit" value="Guardar" class="btn btn-success">
        </form>
      </div>
  {% endblock %}
</body>
</html>
