<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Salas</title>
  <link rel="stylesheet" href="/static/css/bootstrap.css">
</head>
<body>
  {% extends "master.html" %}
  {% block contenido %}


  <br>
  <br>
  <table class ="table table-striped">
      <tr>
        <td>Numero de Sesion</td>
        <td>Fecha de Emision</td>
        <td>Precio Por Asiento</td>
        <td>Asientos Libres</td>
        <td>Asientos Vendidos</td>
        <td>Opciones</td>
      </tr>
      {%for s in s %}
      <tr>
        <td>{{s.NumSesion}}</td>
        <td>{{s.fecha}}</td>
        <td>{{s.PrecioPorAsiento}}</td>
        <td>{{s.AsientosLibres}}</td>
        <td>{{s.AsientosVendidos}}</td>
        <td>
          <a href="/Cinemax/modificarSe?idSesion={{s.idSesion}}">
            <button type="button" class="btn btn-info" aria-label="Left Align">
              <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
            </button>
          </a>
          |
          <a href="/Cinemax/ingresarSe">
            <button type="button" class="btn btn-info" aria-label="Left Align">
            <span class="glyphicon glyphicon-plus" ></span>
            </button>
          </a>
        </td>
      </tr>
      {%endfor%}
  </table>
{% endblock %}

</body>
</html>
